.App {
  background:var(--dark-purple);
}
section.hero > .container > .row {
  height: 75vh;
}
.avatar {
  width: 350px;
  border-radius: 100%;
}
.socials {
  margin-top:50px !important;
}
.socials .social-icons a {
  color: var(--white);
  display: inline-flex;
  font-size: var(--md-font-size) !important;
  transform: translate(0,0);
  transition: all .25s ease !important;
}
.socials .social-icons a:hover {
  color: var(--orange);
  transform:translate(0,-5px);
}
.tech-stack {
  min-height: 15vh;
  background:var(--purple);
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

@media screen and ( max-width: 992px ) {
  section.hero {
    padding:20px;
    background:var(--dark-purple);
    text-align: center;
  }
  section.hero > .container > .row {
    height: initial;
  }
  .avatar {
    width: 200px;
    border-radius: 100%;
    margin-bottom:50px;
  }
  .socials {
    margin-top:50px;
    margin-bottom:50px;
  }
  .socials .social-icons a {
    margin-top:20px;
  }
}